@import "vars";

.game {
  position: absolute;
  top: 10%;
  width: 100%;

  .game__header {
    text-align: center;
  }

  .game__container {

    .game__questions {

    }

    .game__buttons {
      display: flex;
      justify-content: center;

      .btn {
        color: $global-font-color;
        margin: 0 10px;
        width: 90%;
      }
    }
  }
}